<p>Hello!</p>

<p>You have received this message because someone requested a password reset for your account on {{ siteName }}. </p>
<p>If you did not request this, simply ignore this email (it's okay and safe).</p>

<p>If you do want to reset your password, please follow this <a href="{{ url }}" target="_blank">link.</a></p>


<p>Thank you for using {{ siteName }},<br>  
The Website Team</p>
